<nav class="navbar navbar-light bg-light">
  <%= link_to 'LenAirBnB', flats_path, class:"navbar-brand" %>
</nav>

<div class="container">
  <h1 class="mt-5" style="color: #434343ff" >Flat listing (<%= @flats.count %>)</h1>

  <div class="flat_grid mt-5">

    <% @flats.each do |flat|%>
      <div class="card shadow-sm rounded" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" class="img-fluid">
        <div class="card-body">
          <h5 class="card-title" style="color: #434343ff"> <%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted" style="font-weight: lighter; font-size: 14px"> <%= flat.address %></h6>
          <div class="p-0 m-0 d-inline-flex align-items-center">
            <i class="fas fa-euro-sign pr-2" style="color: #434343ff"></i><p class="m-0 pr-2" style="color: #434343ff"><%= flat.price_per_night %> </p>
            <i class="fas fa-user-friends pr-2" style="color: #434343ff"></i><p class="m-0 pr-2" style="color: #434343ff"><%= flat.number_of_guests %></p>
          </div>
        </div>
        <div class="ml-3 mb-2 d-inline-flex justify-content-start">
          <%= link_to 'More info', flat_path(flat), class:"card-link" %>
          <%= link_to 'Edit', flat_path(flat), class:"card-link" %>
          <%= link_to 'Remove', flat_path(flat), class:"card-link" %>
        </div>
      </div>
    <% end %>


  </div>


</div>

